body {
    background-color: beige !important;
}

.container {
    background-color: white;

    padding-top: 24px;
    height: 100%;
}

.current-devices {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 16rem;
    margin: 4px;
}

.current-device {
    background-color: blanchedalmond;

}